@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title">Bienvenido al Hotel "El descanso perfecto"</h1>
    <h2> Encuentra todo lo que buscas para mejorar tu estadia en el mejor hotel</h2>
</div>
