@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title">Bienvenido al Hotel "El descanso perfecto"</h1>
    <h2> Encuentra todo lo que buscas para mejorar tu estadia en el mejor hotel</h2>
</div>

<div class="meme-container">
     <center>
    <img src="~/img/shrektriste.jpeg" alt="DidaTriste" class="meme-home" />
    </center>
</div>

<div class="mt-5">
    <div class="form-group">
        <label for="txtCampo">Aqui tu mensaje bonito:</label>
        <input type="text" id="txtCampo" class="form-control form-control-lg" placeholder="Ingresa un texto" />
    </div>

    <button class="btn btn-outline-info btn-lg mt-3" onclick="mostrarAlerta()">Mostrar Alerta</button>
</div>


